<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{name}} Profile</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="wrapper">
      <section class="user-box">
        <img src="{{avatar}}">
        <h1>{{name}}</h1>
        <p>{{#address}}{{#city}}{{city}},{{/city}} {{#country}}{{country}}{{/country}}{{/address}} | {{#job}}{{job}},{{/job}} {{^job}}Available for Hire{{/job}} {{#company}}{{company}}{{/company}}</p>

        <p>{{#university}}Education: {{university}}{{/university}}</p>
        <p>Skills: {{skills}}</p>
      </section>
    </div>
  </body>
</html>
