@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

body {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

h1, h2, p, h5 {
  margin: 0;
  padding: 0;
}

h2 {
  padding: 15px 0 5px;
  font-size: 1.3em;
}

h1 {
  font-size: 4em;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #289ab9;
}

a:hover {
  color: #1b88a6;
  -webkit-transition: color 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out;
  -o-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.user-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.directory-box {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 20px 0px 0;
}

.user {
  width: 20%;
  padding: 10px;
  border: 1px solid #cdcdcd;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.user img {
  width: 70%;
  height: 70%;
  margin: 0px auto;
}

.top-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.img-box img {
  border-radius: 100%;
  border: 1px solid #cdcdcd;
  margin: 20px;
}

.edu-box, .skill-box {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-bottom: 20px;
}

.edu-box p, .skill-box ul {
  width: 55%;
  padding: 0 0 0 20px;
}


.edu-box h5, .skill-box h5 {
  text-align: right;
  width: 45%;
  font-size: 1em;
}

ul {
  margin: 0;
  list-style-type: none;
}

.available {
  color: rgb(228, 58, 58);
}

.btn {
  margin-top: 20px;
  background-color: #289ab9;
  color: #fff;
  text-transform: uppercase;
  padding: 20px 40px;
  text-decoration: none;
  letter-spacing: 3px;
}

.btn:hover {
  background-color: #1b88a6;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}
